{% extends "walkthrough/base.html" %}
{% block content %}
    <h1>About Page</h1>
    <div class="border-top pt-3">
        <p>Parker was a 21 year old student at Christopher Newport University. As he was preparing to graduate college, get married, and purchase a home all within 6 months, he did a lot of research. He found that there were many different sites to learn from, but it was difficult to find a place to start. Parker designed Be Ready Budgeting to help people take a customizable first step into managing their finances.</p>
    </div>
{% endblock content %}
