{% extends "walkthrough/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Helpful Links</h1>
<div class="border-top pt-3">
    <p>Here are some resources to help you!<br><br>
    Here are some links to reddit communities that can help answer your questions<br>
    <small><a href="https://www.reddit.com/r/personalfinance/">r/personalfinance</a></small><br>
    <small><a href="https://www.reddit.com/r/budget/">r/budget</a></small><br>
    <small><a href="https://www.reddit.com/r/budgetfood/">r/budgetfood</a></small><br><br>
    Dave Ramsey has good advice for those looking to get out of debt or be smart with saving<br>
    <small><a href="https://www.daveramsey.com/">daveramsey.com</a></small><br><br></p>
</div>
<div class="border-top pt-3">
    <!-- Back -->
    <a clas="button" href="{% url 'detailedresults' %}">Back<br></a>
    <!-- Next -->
    <a clas="button" href="{% url 'walkthrough-thank_you' %}">Next<br></a>
</div>
{% endblock content %}

