{% extends "walkthrough/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Purchasing a Home</h1>
<div class="border-top pt-3">
    <p>
        Here are some tips to keep in mind when purchasing a home!<br><br>
        <b>1) Make sure that renting is not still the best option for you<br></b>
        <small>Renting has many benefits. Rental insurance is much cheaper than home insurance. The property manager is responsible for any reparies and eats the cost of depreciation. There are many benefits to purchasing yoru own home, but just make sure that you weigh all the pros and cons.</small><br><br>

        <b>2) Make sure you have a large enough down payment to avoid PMI<br></b>
        <small>Private Mortgage Insurance (PMI) is used by the bank to cover themselves in case the house goes into foreclosure. PMI typically costs 1% of the loan extra each year, payed monthly. If your mortage is $300,000, you pay an extra $3000 a year, which results in an extra $250 dollars a month. This can be avoided by putting down 20% as a down-payment. It may be wise to wait until you have this much saved to purchase a house regardless.</small><br><br>

        <b>3) Consider pursuing pre-approval for your mortgage<br></b>
        <small>While it may add extra time up front, it can help to be more nimble and strike faster when you come across a great deal. Shop around for the best mortage rates you can find and get pre-approved for a certain dollar amount. This can also serve to give you good perspective ahead of time for what you can reasonably afford. Nothing is worse than finding your dream home, only to be unable to afford it.</small><br><br>

        <b>4) Be very wary of taking on a house that requires a lot of work to renovate<br></b>
        <small>Money can be made in flipping houses, but it is not a gauruntee. It should not be attempted without considerable research and preparation. The risk is likely not worth it for your primary residence</small><br><br>

        <b>5) Furniture can get extremely expensive. Prioritize getting the basics for each room, then supplement.<br></b>
        <small>The cost of furniture is easy to understimate.When purchasing a home, you are likely going to have more rooms than the space you are moving from. For those empty rooms, start with the minimal necessary items and wait until you have used the space for a while to decide what additions or upgrades you would like to make. This will help to keep you from regretting an expensive purchase.</small><br><br>

        <b>6) Make sure you take into account how this house will serve you in 5 or 10 years<br></b>
        <small>Purchasing has many one-time fees. If you buy and sell to move often, these fees will add up and you would have been better just renting. Make sure your housing purchase aligns with your long-term goals to avoid these costs.</small><br>
    </p>
</div>
<div class="border-top pt-3">
    <!-- Back -->
    <a clas="button" href="{% url 'budget' %}">Back<br></a>
    <!-- Next -->
    {% if user.budget.Getting_Married %}
        <a clas="button" href="{% url 'walkthrough-marriage' %}">Next</a>
    {% elif user.budget.Graduating_College %}
        <a clas="button" href="{% url 'walkthrough-graduation' %}">Next</a>
    {% else %}
        <a clas="button" href="{% url 'detailedbudget' %}">Next</a>
    {% endif %}
</div>
{% endblock content %}

