{% extends "walkthrough/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Marriage</h1>
<div class="border-top pt-3">
    <p>
        Here are some tips to keep in mind when getting married!<br><br>
        <b>1) It is essential that you and your spouse are on the same page financially<br></b>
        <small>There are many different schools of thought, priorities, and goals associated with finances. The most important thing is that you and your spouse are open about your finances and are in alignment.</small><br><br>

        <b>2) Create goals as a couple<br></b>
        <small>Your finances should reflect your personal goals and expectations. Take some time and decide what your big goals are and then work your finances to best fit those goals. If your goal is to retire early, you are going to have to be more frugal and forgo some luxuries in the short term. The opposite is also true. If your priority is to take exciting vacations every year, you can do that. There will be a cost to your overall savings, though.</small><br><br>

        <b>3) Create or update your will<br></b>
        <small>This is obviously not a very fun topic to think about, but getting married means a lot of changes to your assets and where they will go if something were to happen to you. It is better to put the time in now.</small><br><br>

        <b>4) Create a budget <i>together</i><br></b>
        <small>Now that your finances are combined, there are likely many areas where your spending will be less than twice your individual spending. For example, a one bedroom apartment may cost $1200 a month and even if you upgrade to a two bedroom at $1800, you are still able to save $600 as opposed to living alone.</small><br><br>

        <b>5) Setup recurring times to review<br></b>
        <small>Once you have set your financial base as a couple, you still have to revisit your finances to make sure that you are still on the path you want to be on. As events happen in your life, you change jobs, move, or have a baby, it is important to take the time to realign. It is easier to do this if you have it planned beforehand. One way to do this would be to have it planned to review once a year. Another is to step back into it whenever a large financial milestone is hit. Whichever you choose, you want to make sure that you are happy with your trajectory. According to a study of over 1000 married couples, those who say they have a “great” marriage are almost twice as likely to talk about money daily or weekly compared to those who say their marriage is “okay” or “in crisis."</small><br>
    </p>
</div>
<div class="border-top pt-3">
    <!-- Back -->
    {% if user.budget.Purchasing_A_Home %}
        <a clas="button" href="{% url 'walkthrough-home_purchase' %}">Back<br></a>
    {% else %}
        <a clas="button" href="{% url 'budget' %}">Back<br></a>
    {% endif %}
    <!-- Next -->
    {% if user.budget.Graduating_College %}
        <a clas="button" href="{% url 'walkthrough-graduation' %}">Next</a>
    {% else %}
        <a clas="button" href="{% url 'detailedbudget' %}">Next</a>
    {% endif %}
</div>
{% endblock content %}

