{% extends "walkthrough/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Thank you!</h1>
<div class="border-top pt-3">
    <p>We hope that we were able to answer some of your questions and help you feel more comfortable with the milestone you are about to go through. Please come back anytime you would like to see the information again or want more information about another milestone. <br><br>Have a great day!</p>
</div>
<div class="border-top pt-3">
    <!-- Back -->
    <a clas="button" href="{% url 'walkthrough-helpful' %}">Back<br></a>
    <!-- Next -->
    <a clas="button" href="{% url 'walkthrough-home' %}">Home<br></a>
</div>
{% endblock content %}

