{% extends "walkthrough/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <form method="POST" enctype="form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Where you are now</legend>
              <p>Before we can take you through the information, we need to know what your
              current financial situation is</p>

              {{ form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Set</button>
          </div>
        </form>
    </div>
{% endblock content %}

